@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import url(./root.css);
.box{
    margin-bottom: 50px;
}
.max-width-565{
    max-width: 565px;
}
.experience{
    color: var(--green);
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.font-outfit{
    font-family: "Outfit", sans-serif;
}
button{
    background: none;
}
@media (max-width:768px) {
    .box{
        margin-bottom: 30px;
    }
}